{% extends 'base.html.twig' %}

{% block title %}New Cagnotte{% endblock %}

{% block body %}
    <h1>Create new Cagnotte</h1>

    {{ include('cagnotte/_form.html.twig') }}

    <a href="{{ path('cagnotte_index') }}">back to list</a>
{% endblock %}
