{% extends 'base.html.twig' %}

{% block content %}
    <div class="register-box">
        <div class="register-logo">
            Ma <b>Valise</b>
        </div>
        <div class="card card-info">
            {% block login %}{% endblock %}
        </div>
    </div>
{% endblock %}
