{% extends 'Administration/default.html.twig' %}

{% block title %}New Project{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <h1>Mon nouveau projet</h1>
        </div>
    </div>
    {{ include('administration/crud/project/_form.html.twig') }}

    <a href="{{ path('project_index') }}">Revenir à mes projets</a>
{% endblock %}
