{% extends 'Administration/default.html.twig' %}

{% block title %}New Project{% endblock %}

{% block content %}
    <h1>Mon nouveau projet</h1>

    {{ include('administration/crud/project/_form.html.twig') }}

    <a href="{{ path('project_index') }}">Revenir à mes projets</a>
{% endblock %}
