{% extends 'Administration/default.html.twig' %}

{% block header %}Page d'accueil{% endblock %}

{% block content %}
    <p>Bienvenue sur le site d'administration de Ma Valise. Vous pourrez ici <a href="#">voir les projets</a> qui ont
        été créé par les utilisateurs,
        <a href="#">Voir les utilisateurs inscrit</a> et vous pourrez même <a href="#">voir les cagnottes en cours</a>.
    </p>
    <p>Vous pouvez également <a href="#">Gérer les voyages</a> proposé par les entreprises.</p>
    <div class="row">
        <div class="col-6">
            <a type="button" href="{{ path('project_index') }}" class="btn btn-block bg-gradient-orange btn-lg">Voir les projets</a>
        </div>
        <div class="col-6">
            <a type="button" href="{{ path('participant_index') }}" class="btn btn-block bg-gradient-navy btn-lg">Gérer les participants</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <a type="button" href="{{ path('cagnotte_index') }}" class="btn btn-block bg-gradient-cyan btn-lg">Administrer les cagnottes</a>
        </div>
        <div class="col-6">
            <a type="button" href="{{ path('user_index') }}" class="btn btn-block bg-gradient-fuchsia btn-lg">Utilisateurs</a>
        </div>
    </div>
{% endblock %}
